__pycache__
*.pcap
.sconsign.dblite
pkt2flow
*.o
.DS_Store
*checkpoint.ipynb
LightsailDefaultKey-eu-central-1.pem
preprocessing/data/data.csv
preprocessing/data/labels.csv
data/
.vscode/
preprocessing/labelling/nDPI/

